.root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  flex-shrink: 0;
}

.title {
  min-height: 4rem;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .01em;
  font-weight: bold;
  background-color: var(--colorHeader);
  color: var(--color00);
  line-height: 1;
  padding: 1rem 0;

  @media (width <= $BREAKPOINT_EXTRA_SMALL) {
    min-height: 3.75rem;
    font-size: 1.75rem;
  }
}

.titleContainer {
  composes: container from 'css/default/styles';
}
