.container {
  max-width: var(--containerMaxWidth);
  margin: 0 auto;
  padding-left: var(--containerPadding);
  padding-right: var(--containerPadding);

  @supports (padding: max(0px)) {
    & {
      padding-left: max(var(--containerPadding), env(safe-area-inset-left));
      padding-right: max(var(--containerPadding), env(safe-area-inset-right));
    }
  }
}

.transparentBackground {
  background-color: var(--colorTransparent);

  @supports (backdrop-filter: blur(0)) {
    & {
      background-color: var(--colorSemiTransparent);
      backdrop-filter: blur(12px);
    }
  }

  @media screen and (prefers-reduced-transparency ) {
    background-color: white;
  }
}

.settingsHeading {
  font-size: 1.125rem;
  margin: 0;
}
