.title {
  text-transform: uppercase;
  letter-spacing: .01em;
  font-weight: 700;
}

.transparentBackground {
  background-color: rgba(255,255,255,.95);

  @supports (backdrop-filter: blur(0)) {
    & {
      background-color: rgba(255,255,255,.5);
      backdrop-filter: blur(12px);
    }
  }

  @media screen and (prefers-reduced-transparency ) {
    background-color: white;
  }
}
