.root {
  composes: transparentBackground from 'css/default/styles';
  position: sticky;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  padding-top: 6px;
  padding-bottom: 12px;

  @supports (padding: max(0px)) {
    & {
      padding-bottom: max(12px, env(safe-area-inset-bottom))
    }
  }
}

.container {
  composes: container from 'css/default/styles';
  padding: 0;
  display: flex;
  justify-content: space-around;
}
