.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: .8125rem;

  &:any-link {
    color: var(--color05);
    text-decoration: none;
  }
}

.notifications {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 1rem;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: var(--colorWarning);
  }
}
