.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: .8125rem;

  &:any-link {
    color: black;
    text-decoration: none;
  }
}

.icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: red;
  margin-bottom: .25rem;

  @nest .active & {
    background-color: blue;
  }
}
