.title {
  composes: transparentBackground from 'css/default/styles';
  position: sticky;
  top: 0;
  padding: 0.5rem 0;
  margin-bottom: 0;
}

.titleContainer {
  composes: container from 'css/default/styles';
  display: flex;
  align-items: baseline;
}

.container {
  composes: container from 'css/default/styles';
}

.subtitle {
  font-weight: normal;
  font-size: 1rem;
  margin-left: .5rem;
  text-transform: uppercase;
}

.abbreviation {
  background-color: var(--color01);
  font-size: 1.25rem;
  font-weight: normal;
  padding: 0 .25em;
  margin-left: auto;
}
