.root {
  composes: container from 'css/default/styles';
  margin-top: 1rem;
  border-top: 1px solid var(--color02);
  border-bottom: 1px solid var(--color02);
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: .8125rem;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: .25rem;
  flex-shrink: 0;
  align-self: flex-start;
}

.paragraph {
  margin: 0;
}
