.root {
  appearance: none;
  color: var(--color05);
  border: 1px solid var(--color05);
  border-radius: 5px;
  background-color: transparent;
  padding: .5rem;
  right: 0;
  height: 2.625rem;
  width: 100%;
}
