.root {
  composes: root from 'components/CurrentDeparture/styles';
}

.icon {
  composes: icon from 'components/CurrentDeparture/styles';
  background-color: var(--color03);
  border-color: var(--color03)
}

.information {
  composes: information from 'components/CurrentDeparture/styles';
  width: 100%;
}

.title {
  composes: title from 'components/CurrentDeparture/styles';
  background-color: var(--color02);
  width: 100%;
  max-width: 100px;
  height: 1.25rem;
  border-radius: 5px;
}

.detailPlaceholder {
  background-color: var(--color01);
  width: 100%;
  max-width: 100px;
  height: 1rem;
  display: inline-block;
  border-radius: 5px;
}

.carCountPlaceholder {
  background-color: var(--color02);
  width: 100%;
  max-width: 60px;
  height: 1rem;
  display: inline-block;
  margin-left: .5rem;
  border-radius: 5px;
}
