.root {
  padding-top: .5rem;
}

.actionBar {
  display: flex;
  margin-bottom: 1rem;
  position: relative;
  max-width: 350px;
}

.button {
  flex-shrink: 0;
  flex-grow: 1;
  margin-right: 1rem;
}

.filler {
  min-height: 2.625rem;
  flex-shrink: 0;
  flex-grow: 1;
  margin-right: 1rem;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;

  @media (width > 650px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (width > 950px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.link {
  color: var(--color05);
  border: 1px solid var(--color05);
  text-decoration: none;
  border-radius: 5px;
  padding: .5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-smoothing: antialiased;
  transition-property: background-color, border, color;
  transition-duration: 250ms;
  transition-timing-function: ease-out;

  &:hover {
    background-color: var(--color05);
    color: var(--color00);
  }
}
