.root {
  composes: container from 'css/default/styles';
}

.actionBar {
  display: flex;
  margin-bottom: 1rem;
  position: relative;

  @media (width <= $BREAKPOINT_SMALL) {
    flex-direction: column;
  }
}

.button {
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: .5rem;
  padding-right: 1.5rem;

  @media (width <= $BREAKPOINT_SMALL) {
    margin: 0;
    margin-bottom: .5rem
  }

  @nest :global(.dark) & {
    color: var(--color05)
  }
}

.filler {
  min-height: 2.625rem;
  flex-shrink: 0;
  flex-grow: 1;
  margin-right: 1rem;
}

.links {
  display: grid;
  grid-template-columns: 1fr;
  gap: .5rem;

  @media (width > 700px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (width > 700px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (width > $BREAKPOINT_MEDIUM) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.link {
  background-color: $COLOR_BRAND_ALT_TRANSPARENT;
  text-decoration: none;
  border-radius: 5px;
  padding: .5rem;
  display: inline-block;
  font-smoothing: antialiased;
  margin-right: auto;
  margin: 0 auto .1875rem 0;
}
