@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700');

html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'IBM Plex Mono', system-ui;
  margin: 0;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 1rem 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

:global(#application) {
  height: 100%;
}

:global(#spritemap) {
  visibility: hidden;
  overflow: hidden;
  height: 0;
  width: 0;
}
