.root {
  display: flex;
  margin-bottom: 0.75rem;
  border: 1px solid lightgray;
  padding: 0.5rem;
  border-radius: 1rem;
}

.icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
}

.iconLeaving {
  animation-name: pulse;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.47, 0, 0.75, 0.72);

  @media screen and (prefers-reduced-motion) {
    animation: none;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.information {
  margin-left: .5rem;
}

.title {
  font-weight: normal;
  font-size: 1.25rem;
  margin: 0 0 .25em 0;
  line-height: 1;
}

.delayed {
  text-transform: uppercase;
  font-size: .8125rem;
  background-color: black;
  color: white;
  padding: 0 .5em;
}
