.root {
  display: flex;
  margin-bottom: 0.75rem;
  border: 1px solid var(--color02);
  padding: 0.5rem;
  border-radius: 1rem;
}

.icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--color05);
  flex-shrink: 0;

  @nest :global(.dark) & {
    border-color: transparent;
  }
}

.departureTime {
  position: relative;
}

.leaving {
  position: absolute;
  width: 100%;
  bottom: -3px;
  height: 2px;
  left: 0;
  right: 0;
  display: flex;

  &::before,
  &::after {
    content: '';
    height: 100%;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    background-color: transparent;
  }

  &::before {
    animation-name: grow-one;
  }

  &::after {
    animation-name: grow-three;
  }
}

.leavingUnderline {
  height: 100%;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  background-color: currentcolor;
  animation-name: grow-two;
}

@keyframes grow-one {
  0% { width: 0%; }
  100% {  width: 100%; }
}

@keyframes grow-two {
  0% { width: 0%; }
  50% { width: 100%; }
  100% {  width: 0%; }
}

@keyframes grow-three {
  0% { width: 100%; }
  100% {  width: 0%; }
}

.information {
  margin-left: .5rem;
}

.title {
  font-weight: normal;
  font-size: 1.25rem;
  margin: 0 0 .25em 0;
  line-height: 1;
}

.delayed {
  text-transform: uppercase;
  font-size: .8125rem;
  background-color: var(--color05);
  color: var(--color00);
  padding: 0 .5em;
}
