@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700');

body {
  font-family: 'IBM Plex Mono', system-ui;
  margin: 0;
}

main {
  max-width: 1250px;
  margin: auto;
  padding: 0 15px;
}

h1, h2 {
  text-transform: uppercase;
  letter-spacing: .01em;
  font-weight: 700;
}
