.root {
  text-decoration: none;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  padding: .5rem .75rem;
  text-align: center;
  font-smoothing: antialiased;
  font-weight: medium;
  text-transform: uppercase;
  transition-property: border-color, background-color;
  transition-duration: 250ms;
}

.primary {
  color: var(--color00);
  border-color: var(--colorButton);
  background-color: var(--colorButton);
}

.secondary {
  color: var(--colorButton);
  border-color: currentColor;

  &:hover {
    background-color: $COLOR_BRAND_ALT_LIGHT;
  }
}

.text {
  color: var(--colorButton);
  border-color: transparent;
  background-color: transparent;

  &:hover {
    border-color: var(--color01);
    background-color: var(--color01);
  }
}
