.root {
  outline: none;
  text-decoration: none;
  border-radius: 2rem;
  border-style: solid;
  border-width: 1px;
  padding: .5rem 1rem;
  text-align: center;
  font-smoothing: antialiased;
  transition-property: background-color, border, color;
  transition-duration: 250ms;
  transition-timing-function: ease-in;

  &:focus {
    position: relative;
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
  }
}

.primary {
  color: var(--color00);
  border-color: var(--color05);
  background-color: var(--color05);

  &:hover {
    background-color: var(--color00);
    border-color: currentColor;
    color: var(--color05);
  }
}

.secondary {
  color: var(--color05);
  border-color: currentColor;

  &:hover {
    background-color: var(--color05);
    border-color: var(--color05);
    color: var(--color00);
  }
}
