.root {
  display: flex;
  position: relative;
}

.input {
  appearance: none;
  color: var(--color05);
  border: 1px solid var(--color05);
  border-radius: 5px;
  background-color: transparent;
  padding: .5rem;
  right: 0;
  padding-right: 42px;
  height: 42px;
  width: 100%;
  position: relative;
  z-index: 4;

  &::-webkit-search-cancel-button {
    display: none;
  }
}

.icon {
  border-color: transparent;
  background-color: transparent;
  border-radius: 0 5px 5px 0;
  position: absolute;
  right: 0;
  height: 100%;
  width: 42px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  & > * {
    pointer-events: none;
  }
}
