.root {
  border: 1px solid var(--colorButton);
  border-radius: 5px;
  margin: 0;
  padding: 0;
  display: flex;
  max-width: $BREAKPOINT_EXTRA_SMALL;
  z-index: stack('input-controls');
  position: relative;

  @media (width <= $BREAKPOINT_EXTRA_SMALL) {
    font-size: .875rem;
  }
}
